@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:root { 
    --color-bg-surface: #ebebeb;
    --color-bg-panel: #fff;
    --color-cta-primary: #8a62b8; 
}

* { box-sizing: border-box; margin: 0; padding: 0; }

html { scroll-behavior: smooth; }

body { font-family: "Google Sans"; background: var(--color-bg-surface);  }

.container { 
    width: min(100%, 1280px);
    margin: auto;
    padding: 0 16px;
}

main { display: grid; gap: 128px; } section { display: grid; gap: 28px;}

h1 { font-size: 68px; line-height: 1.08; font-weight: bolder; }

h2 { font-size: 38px; text-align: center; }


/* *****  S E C C I O N   H E A D E R  ***** */

header {
    background: var(--color-bg-panel);
    position: sticky;
    top:0;
    width: 100%;
    z-index: 4;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 36px;
}

#logo { font-size: 22px; font-weight: 600; }

nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 20px;
}

header li { display: inline; padding-left: 16px; }

a { text-decoration: none; color: #343434; font-size: 14px; font-weight: 500; }

header li a:hover { opacity: .6; }

i { margin-left: 16px; font-size: 18px; color: #444444; }

.burger-btn { display: none; }


/* *****  S E C C I O N   H E R O  ***** */

#hero { display: grid; grid-template-columns: 1fr 1fr; }

#l-panel, #r-panel {
    min-height: 720px;
    display: grid;
    align-content: center;
    gap: 24px;
}

#l-panel p, #l-panel h2 { color: #5a5a5a; text-align: left }

#r-panel { display: grid; place-items: center; }

#r-panel img { width: 480px; border-radius: 50%; }


/*   *****  S E C C I O N   habilidades  *****   */

#habilidades { display: grid; gap: 28px; text-align: center; }

.skill { display: grid; gap: 6px; text-align: left; color: #606060; }

.skill div { position: relative; background: var(--color-bg-panel); width: 100%; height: 18px; border-radius: 50px; }

.skill div div {
    
    position: absolute; 
    background: var(--color-cta-primary); 
    border-radius: 50px; 
    color: #fff; 
    left: 0; top: 0; 
    font-size: 10px; 
    font-weight: 600;
    padding: 0 8px; 
    display: grid; 
    align-items: center;
}


/* ***** S E C C I O N   T R A B A J O S ***** */

#trabajos { display: grid; grid-template-columns: 1fr 1fr; gap: 20px;}
.trabajo { 
    background: var(--color-bg-panel); 
    min-height: 200px;
    border-radius: 6px; 
    width: auto; 
    display: grid; 
    place-items: center;
    color: #343434; 
}

/* *****  S E C C I O N   C O N T A C T O  ***** */

    #contacto .contact { 
        display: grid; gap: 20px;
        grid-template: repeat(2, auto)/repeat(8, 1fr); 
        background:var(--color-bg-panel);
        width: 100%;
        padding: 20px 16px;
        border-radius: 6px; }

    input, textarea {
      padding: 16px; height: 56px; width: 100%;
      border: 1px solid #ababab; outline: none;
      border-radius: 6px;
      letter-spacing: .5px; font-family: "Google Sans"; 
    }
  
    #contacto .name { grid-column: 1/span 4 }
  
    #contacto .email { grid-column: 5/span 4 }
  
    #contacto textarea {
      grid-column: 1/span 8;
      resize: vertical;
      max-height: 260px;
      min-height: 160px
    }
  
    #contacto #btn { grid-column: 8/span 1; justify-self: end }



/* *****  S E C C I O N   F O O T E R  ***** */

footer { background: var(--color-bg-panel); margin-top: 52px; }

footer .container { height: 80px; display: flex; justify-content: space-between; align-items: center;}


/* *****  B O T O N E S  ***** */

.btn {
    background: var(--color-cta-primary);
    color: #fff;
    text-decoration: none;
    width: fit-content;
    height: 48px;
    display: grid;
    place-items: center;
    border-radius: 50px;
    padding: 0 24px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    border: none;
}
.btn:hover { filter: brightness(1.4); }


/* *****  M E D I A    Q U E R I E S (estilos para vista móvil) ***** */

@media (max-width: 740px) {

    nav { height: 48px; }

    h1 { font-size: 54px; }

    h2 { font-size:34px; }

    .container { width: 100%; }

    main { gap: 64px ; }

    #hero { grid-template-columns: 1fr; }

    #l-panel, #r-panel { gap: 20px; min-height: 430px; }

    #r-panel img { width: 330px; }

    #trabajos { grid-template-columns: 1fr; }

    .btn { width: 100%; }

    /* Menú lateral */
    .burger-btn { border: none; background: none; display: grid; z-index: 9; cursor: pointer; }

    header ul {
        position: fixed;
        top: 0;
        right: -260px;
        height: 100%; width: 260px;
        background: #c8badb;
        transition: .3s;
        z-index: 6;
        display: flex; flex-direction: column;
        padding: 94px 8px; gap: 30px;
    }

    .open { right: 0; }

    .shadow-fill {
        z-index: 5;
        position: fixed;
        width: 100%; height: 100%;
        background: rgba(0, 0, 0, 0);
        pointer-events: none;  
    }

    .shadow-fill-active { background: rgba(0, 0, 0, .4); pointer-events: all; }

    #contacto { padding: 0 }
  
    #contacto .name { grid-column: 1/span 8; }
  
    #contacto .email { grid-column: 1/span 8; }
  
    #contacto #btn { grid-column: 1/span 8; width: 100%; }

}


