@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:root {
    
    --color-bg-surface: #ebebeb;
    --color-bg-panel: #fff;
    --color-cta-primary: #8a62b8;
    --color-txt-primary: #333236;
    --color-txt-secondary: #59585b;
}
:root.dark {
    
    --color-bg-surface:  #28262d;
    --color-bg-panel:  #2f2c36;
    --color-cta-primary:  #b86270;
    --color-txt-primary:  #ddd8ea;
    --color-txt-secondary:  #8d8a92;
}


#theme-toggle { cursor: pointer; color: var(--color-txt-primary); }


* { box-sizing: border-box; margin: 0; padding: 0; font: inherit; border: none; background: none; text-decoration: none; }

html { scroll-behavior: smooth; }

body { font-family: "Google Sans"; background: var(--color-bg-surface); color: var(--color-txt-primary); }

.container { width: min(100% - 2rem, 1280px); margin-inline: auto; }

main { display: grid; gap: 128px; } section { display: grid; gap: 28px; }

h1 { font-size: 68px; line-height: 1.08; font-weight: bolder; }

h2 { font-size: 38px; text-align: center; font-weight: bolder; }

.vertical-hr {
    margin: .5rem 0;  
    border: none;            
    width: 1px; height: 18px;
    background: var(--color-txt-secondary);                        
}


/* *****  S E C C I O N   H E A D E R  ***** */

header {
    background: var(--color-bg-panel);
    position: sticky; top:0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 28px;
}

#logo { font-size: 22px; font-weight: 700; }

header .container {
    height: 80px;
    display: flex;
    justify-content: space-between; align-items: center;
}
nav {display: flex; gap: 12px; align-items: center; }

#menu { display: flex; gap: 16px; list-style: none; }

a { color: var(--color-txt-primary); font-size: 14px; font-weight: 500; }

#menu li a:hover { filter: brightness(1.8); }

.social { display: flex; gap: 16px; } .social i { font-size: 18px; }

#burger-btn { display: none; color: var(--color-txt-primary); }

#shadow {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0);
    pointer-events: none;
    transition: .3s;
}


/* *****  S E C C I O N   H E R O  ***** */

#hero { display: grid; grid-template-columns: 1fr 1fr; }

#l-panel, #r-panel {
    min-height: 640px;
    display: grid; gap: 28px;
    align-content: center;
}

#l-panel p, 
#l-panel h2 { color: var(--color-txt-secondary); text-align: left; }

#r-panel { display: grid; place-items: center; }

#r-panel img { width: min(100%, 460px); border-radius: 50%; }


/*   *****  S E C C I O N   H A B I L I D A D E S  *****   */

#habilidades { display: grid; gap: 28px; }

.skill { 
  display: grid; 
  gap: 6px; 
  color: var(--color-txt-primary); 
}

.skill p { font-size: 14px; font-weight: 500; color: var(--color-txt-primary); }

.skill-bar { 
  display: grid; 
  background: var(--color-txt-secondary); 
  height: 20px; 
  border-radius: 50px; 
  overflow: hidden;
}

.skill-bar-fill {
  background: var(--color-cta-primary); 
  color: var(--color-bg-panel); 
  font-size: 10px; font-weight: 600;
  padding-inline: 12px;
  display: flex; 
  align-items: center;
}


/* ***** S E C C I O N   T R A B A J O S ***** */

#trabajos { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; }

.trabajo { 
    min-height: 200px;
    border-radius: 6px; 
    width: auto; 
    background: var(--color-bg-panel) url(image.svg) center no-repeat; 
}


/* *****  S E C C I O N   C O N T A C T O  ***** */

#contacto .contact { 
    display: grid; gap: 20px;
    grid-template: auto auto/repeat(8, 1fr); 
    background:var(--color-bg-panel);
    padding: 24px 20px;
    border-radius: 6px; 
}

input, textarea {
    padding: 16px; height: 56px; width: 100%;
    border: 1px solid var(--color-txt-secondary); outline: none;
    border-radius: 6px;
    letter-spacing: .5px; 
}

input:hover, textarea:hover { border-color: color-mix(in oklab, var(--color-txt-secondary), #000 30%); }

input:focus, textarea:focus { border: 2px solid var(--color-cta-primary); }

.name { grid-column: 1 / 5 } .email { grid-column: 5 / -1 }

#contacto textarea {
    grid-column: 1 / -1;
    min-height: 160px; max-height: 260px;
    resize: vertical; 
}

#contacto button { grid-column: 8/-1; justify-self: end; }


/* *****  S E C C I O N   F O O T E R  ***** */

footer { background: var(--color-bg-panel); margin-top: 52px; }

footer .container { height: 120px; display: flex; justify-content: space-between; align-items: center; }


/* *****  B O T O N E S  ***** */

.btn {
  background: var(--color-cta-primary);
  color: #fff;
  height: 48px; width: fit-content;
  padding-inline: 24px;
  font: 500 14px "Google Sans", sans-serif;
  border-radius: 50px; border: none;
  cursor: pointer;
  text-decoration: none;
  display: grid;
  place-items: center;
}

.btn:hover { filter: brightness(1.3); }


/* *****  M E D I A    Q U E R I E S (estilos para vista móvil) ***** */

@media (max-width: 740px) {

    nav { height: 58px; }

    h1 { font-size: 54px; } h2 { font-size: 34px; }

    main { gap: 64px ; }

    #hero { grid-template-columns: 1fr; }

    #l-panel, #r-panel { gap: 20px; min-height: 430px; }

    #trabajos { grid-template-columns: 1fr; }

    .name, .email, .btn, #contacto button { grid-column: 1 / -1; width: 100%; }

    #theme-toggle, .vertical-hr, .social { display: none; } 


    /* -------------------------- Menú lateral ----------------------------------- */

    #burger-btn { z-index: 11; cursor: pointer; display: block; text-align: right; }

    #burger-btn i { font-size: 32px; }

    #menu {
        position: fixed;
        inset: 0 -260px 0 auto; width: 260px;
        background: var(--color-bg-surface);
        z-index: 10;
        display: grid;
        padding: 94px 20px;
        transition: .3s;
        align-content: start;
    }

    #menu.is-open { transform: translateX(-100%); }

    /* ------------------------ Fin del menú lateral -------------------------- */
  

}


